{% extends 'base.html' %}
{% block title %}Products List{% endblock %}
{% block navbar %}
<a href="{% url 'products_list' %}">Product List</a>
<a href="#">Add Product</a>
{% endblock %}
{% block content %}
{% for product in products %}
<div class="product_info">
    <img src="{{ product.picture }}" alt="{{ product.name }} image">
    <div class="product_str">
        <p><a href="#">{{ product.name }}</a></p>
        <div class="product_info_small_font">
            <p>Category: {{ product.category }}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}